<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-centered">
    <a class="navbar-item" href="/">
      <img src="" alt="Logo">
    </a>
    <div class="navbar-burger burger" data-target="navbarStuff">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarStuff" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        <h5><i class="fa fa-bicycle"></i> Main</h5>
      </a>
    </div>
    <div class="navbar-item">
      <a href="/projects">
        <h5><i class="fa fa-cubes"></i> Projects</h5>
      </a>
    </div>
    <div class="navbar-item">
      <a href="/extras">
        <h5><i class="fa fa-plus"></i> Extras</h5>
      </a>
    </div>
    <div class="navbar-end">
      <a href="/contact" class="navbar-item">
        <h5><i class="fa fa-address-card-o"></i> Contact me</h5>
      </a>
    </div>
  </div>
</nav>
