<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Mr. Danny B</title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section>
      <div class="container">
        <div class="columns is-gapless">
          <div class="column">
            <div class="hero">
              Logo here
            </div>
            <a href="/">Main</a>
            <a href="/about">About me</a>
            <a href="/projects">Projects</a>
            <a href="/extras">Extras</a>
          </div>
          <div class="column">
            <div class="hero">
              <figure class="image is-128x128">
                <img src="" alt="">
              </figure>
              <p class="title">Tagline so sexy</p>
            </div>
            <div class="content">
              <p>Web developer and Academic coach with a drive to learn and solve puzzles.
                I enjoy to use javascript, express, css frameworks, MySQL and NoSQL.
                I can explain almost anything about elementary
                [Algebra, Geometry, Calculus, Trigonometry, Statistics, Physics]. </p>
              <hr>
              <p>I have a passion for communicating ideas with folks.
                That ranges from explaining a complicated idea in a simple way,
                and connecting similar ideas that might seem disperate.
                After many years practicing this with students,
                I became aquainted with programming in javascript.
                My joy of puzzle solving gets continuously triggered in this space.
                As such, I'm always looking to learn more. In particular,
                I have a strong budding interest in relations between large sets.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
