<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Mr. Danny B's Portfolio</title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>


    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
